<ion-content>
<ion-slides pager="true">
  <ion-slide>
    <h1>Disfruta del Chat con Tus Amigos</h1>
    <ion-icon name="chatbox-ellipses-outline"></ion-icon>
  </ion-slide>
  <ion-slide>
    <h1>Escucha Música desde Cualquier Lugar</h1>
    <ion-icon name="play-outline"></ion-icon>
  </ion-slide>
  <ion-slide>
    <ion-icon name="close-outline" (click)="finishIntro()"></ion-icon>
    <h1>Localiza a tus Amigos para Compartir momentos Especiales </h1>
    <ion-icon name="location-outline"></ion-icon>
  </ion-slide>
</ion-slides>
</ion-content>
