<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm"(ngSubmit)="registerUser()">
    <ion-list>
      <ion-item>
        <ion-label color="primary" position="floating">Nickname</ion-label>
        <ion-input formControlName="nickname"></ion-input>
      </ion-item>
      <div class="validation-error ion-padding-horizontal">
        <ng-container *ngFor="let validation of registerFormMessages.nickname">
          <div *ngIf="registerForm.get('nickname').hasError(validation.type) && (registerForm.get('nickname').touched || registerForm.get('nickname').dirty)">
            -{{validation.message}}
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label color="primary" position="floating">Email</ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <div class="validation-error ion-padding-horizontal">
          <ng-container *ngFor="let validation of registerFormMessages.email">
            <div *ngIf="registerForm.get('email').hasError(validation.type) && (registerForm.get('email').touched || registerForm.get('email').dirty)">
              -{{validation.message}}
            </div>
          </ng-container>
        </div>
        <ion-label color="primary" position="floating">Password</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
    </ion-list>
    <ion-text color="primary" 
      ><div class="ion-text-center ion-margin-top">
        ¿Ya tienes una cuenta?
      </div></ion-text
    >
    <ion-button
    [disabled]="!registerForm.valid"
      expand="block"
      shape="round"
      fill="outline"
      type="submit"
      class="ion-padding-horizontal ion-margin-top"
      >Registrarse</ion-button
    >
  </form>
</ion-content>
